body {
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
  
    

   
    
} 

.indeximg{

object-position: center;
height: 350px;
object-fit: cover;
transition: transform 0.3s ease, opacity 0.3s ease;
cursor: pointer;

}



@media (max-width: 780px) {
    .indeximg {
      height: 300px;
    }
  }
  
@media (max-width: 500px) {
    .indeximg {
      height: 120px;
     
    }
  }





.indeximg:hover {
    transform: scale(1.1); 
    opacity: 0.8;
}




